:root {
    --c-navyblue: #1a253b;
    --c-purple: #5f22a8;
    --c-orange: #ff4600;
    --c-black: #414141;
    --c-seadarkblue: #007693;
    --bg-light: #f5f9f2;
    --bg-dark: #edece6;
    --bg-input: #e0e7e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Source Sans Pro';
    
}

body {
    background:#edece6;
    
}

